@charset "UTF-8";

/* 파일 끌고 오기 css문서내에 또 다른 css 파일 끌고 올때 다른 파일도 가능 
항상 최상단에 삽입*/
@import url(header.css);
@import url(footer.css);




/* 
    font

    1) merriweather 폰트(영문)
    font-family: "Merriweather", serif;
    font-weight: 300 ~ 900;

    2) nanum gothic 폰트(한글)
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400 | 700 | 800;

    컨텐츠 너비 : 1280px

    컬러
    오렌지색
    rgb(243,130,0)
    rgb(207,102,26)

    보라색 rgb(124,81,161)

    진한갈색 rgb(47,28,17)



*/


/* **MAIN****************************************************************** */

main {
    margin-top: 140px;
    width: 100%;
    margin-bottom: 80px;
}

main .promotion {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 700px;
    background: url(../img/main_forest.jpg) no-repeat center top/cover  ;
}

main .promotion a {
    /* background-color: plum; */
    font-size: 0;
    width: 100%;
    height: 100%;
    /*  */
}

main .event {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

main .event img {
    width: 100%;
    display: block;
}


/* ***section ********************************************************************** */

section {}
section > article {}

article.md-pick {
    width: 1280px;
    
    margin: 0 auto 100px;
}

article.md-pick .md-wrap {
    /* background-color: plum; */
    text-align: center;

}
article.md-pick .md-wrap .md-box {
    width: 25%;
    float: left;


}
article.md-pick .md-wrap .md-box .photo{
  
}

.md-box .photo {
    margin-bottom: 30px;
    position: relative; /* class quick의 기준! */
    /* outline: 3px solid blue; */
}
.md-box .photo img {
    width: 100%;
    display: block;
}
.md-box .photo .quick {
    background-color: rgb(243,130,0);
    display: inline-block;
    /* 내용만큼의 여백을 갖고 크기 조절가능 */
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255,255,255);
    letter-spacing: 1.2px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20%;

    display: none;
    

    /* top: 50%;

    transform: translate(-50%,-50%); */

    
    
}

/* hover 적용!! */
.md-box .photo:hover img {
    opacity: 0.4;
}
.md-box .photo:hover .quick {
    display: inline-block;
    /* display: none ; 한 부분을 다시 보이게 구현 */
}



.md-box .caption {
    padding: 0 5%;
}
.md-box .caption h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.md-box .caption p{
    margin-bottom: 10px;
}
.md-box .caption p.des {}
.md-box .caption p.price {
    color: rgb(207,102,26);
    font-weight: 700;
}

article.new {
    width: 1280px;
    margin: 0 auto 100px;
    /* background-color: greenyellow; */
}

article.new .new-box {
    
    width: 32%;
    float: left;
    
}

article.new .new-box~.new-box {
    /* 형제요소 선택자 첫번째 요소 선택 안함 */
    margin-left: 2%;
}

article.new .new-box > a {/* img를 담는 박스! */
    margin-bottom: 30px;
    /* outline: 3px solid blue; */
    overflow: hidden;
    /* 2) 넘치는 공간에 히든 구현 */
}



article.new .new-box > a img {
    width: 100%;
    display: block;
    /* 3) 인라인의 여백이 채워지고 사라지는 현상 방지 */
    transition: all 0.5s;
    /* 4) 디자인변화가 일어나는 것은 이미지 태그로 트랜지션 구현 */
}

/* hover 효과! */

article.new .new-box > a:hover img {
    transform: scale(1.5);
    /* 1) 이미지를 담은 덩어리를 먼저 호버하려고 시도  */
}

article.new .new-box h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    
    margin-bottom: ;
}
article.new .new-box h3 a {
    
    color: rgb(207,102,26)
}

article.instagram {
    width: 100%;
    background-color: rgb(124,81,161);
    padding: 60px 0;
    /* text-align: center; */
}

article.instagram .sec-title {
    color: rgb(255,255,255);
    font-family: "Nanum Gothic", sans-serif;
}

article.instagram .thumb-list {
    margin-bottom: 50px;
}
article.instagram .thumb-list li {
    width: 16.66%;
    overflow: hidden;
}
article.instagram .thumb-list li a {}
article.instagram .thumb-list li a img {
    width: 100%;
    display: block;
    transition: all 0.6s;
}
/* hover 효과!! */
article.instagram .thumb-list li:hover img {
    transform: scale(1.2);
    opacity: 0.7;
} 
article.instagram .follow-btn {
    background-color: rgb(243,130,0);
    color: rgb(255,255,255);
    font-size: 18px;
    font-weight: 700;
    font-family: "Merriweather", serif;
    text-transform: uppercase;

    display: inline-block;
    padding: 10px 20px;

    /* 버튼 위치 조절 */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* 요소의 크기를 기준으로 하여 이동 */
}

