@charset "UTF-8";

/* 
    font

    1) merriweather 폰트(영문)
    font-family: "Merriweather", serif;
    font-weight: 300 ~ 900;

    2) nanum gothic 폰트(한글)
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400 | 700 | 800;

    컨텐츠 너비 : 1280px

    컬러
    오렌지색
    rgb(243,130,0)
    rgb(207,102,26)

    보라색 rgb(124,81,161)

    진한갈색 rgb(47,28,17)



*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;

    z-index: 999;
    background-color: #fff;
    opacity: 0.8;


}

header .top {
    width: 100%;
    height: 40px;
    background-color: #d3d3d3;
}

header .top .top-menu {
    width: 1280px;
    margin: 0 auto;
}

header .top .top-menu .login-menu {
    float: right;

}


header .top .top-menu .login-menu li {
    float: left;
    margin-left: 20px;
    line-height: 40px;
    
    
}

header .top .top-menu .login-menu li a {
    font-size: 14px;
    color: #555;
    vertical-align: middle;
}

header .top .top-menu .login-menu .shortcut  {
    background-color: #000;
    float: right;
    padding: 8px 15px ;
    line-height: 1;
    
}

header .bottom {
    width: 1280px;
    height: 69px;
    padding: 10px 0;
    margin: 0 auto;
}

header .bottom .logo {
    margin-right: 70px;
}

header .bottom .logo a img {
    display: block;
}

header .bottom h1, header .bottom .gnb{
    float: left;
}

header .bottom .gnb ul li {
    float: left;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    margin-right: 50px;
    text-transform: uppercase;
    line-height: 69px;
}

header .bottom .gnb ul li a {
    color: #555;
}

header .bottom .gnb ul li a:hover {
    color: rgb(207,102,26);
    text-decoration: underline;
}

header .bottom form .search {
    float: right;
    line-height: 69px;
} 

header .bottom form .search input[type="text"] {
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

header .bottom form .search input[type="submit"] {
}






section {
    margin-top: 129px;
}

section .main-img .img1 {    
    width: 100%;
    height: 700px;
    background-image: url(../img/main_forest.jpg);
    background-size: cover;
    display: block;
    
    font-size: 0;
}



section .main-img .img2 {    
    width: 100%;
    height: 400px;
    background-image: url(../img/main_event.jpg);
    background-size: cover;
    display: block;
    
    font-size: 0;
}

section .item {
    width: 100%;
    padding: 70px 0;
}

section .item .title {
    font-size: 1.8rem;
    font-family: "Merriweather", serif;
    color: rgb(207,102,26);
    text-align: center;
    margin-bottom: 30px;
}

section .item .picks {
    width: 1280px;
    margin: 0 auto 70px;
}

section .item .picks .title {   
    
}

section .item .picks .item-list {
    margin-bottom: 70px;
}

section .item .picks .item-list li {
    width: 25%;
    float: left;
    text-align: center;
}

section .item .picks .item-list li a {
    margin-bottom: 20px;
    display: block;
}

section .item .picks .item-list li div h3 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

section .item .picks .item-list li div p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

section .item .picks .item-list li div p:last-child {
    color: rgb(207,102,26);
    font-weight: 600;
}

section .item .news .news-list {
    width: 1280px;
    margin: 0 auto ;
}

section .item .news .news-list li{
    width: 33.3%;
    float: left;

    text-align: center;
}

section .item .news .news-list li a {
    display: block;
    margin-bottom: 20px;
}


section .item .news .news-list li p {
    font-weight: 600;
    font-family: "Merriweather", serif;
    color: rgb(207,102,26);
    
}

section .instagram {
    background-color: rgb(124,81,161);
    padding: 70px 0;
    
}

section .instagram .title {
    font-size: 1.8rem;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

section .instagram .thumb-list {
    width: 1280px;
    margin: 0 auto 30px;
}

section .instagram .thumb-list li{
    width: 16.6%;
    float: left;
}

section .instagram .thumb-list li a img {
    width: 100%;
    display: block;
}

section .instagram .button {
    text-align: center;
}

section .instagram .button .follow {
    width: 426px;
    font-size: 18px;
    background-color: rgb(207,102,26);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    display: inline-block;
    font-family: "Merriweather", serif;
    
}

footer {
    background-color: rgba(0,0,0,0.1);
    padding: 70px 0;
}

footer .sitemap {
    width: 1280px;
    margin: 0 auto 30px;
    

}

footer .sitemap div {
    width: 16.6%;
    float: left;
}

footer .sitemap div .menu {
    font-family: "Merriweather", serif;
    color: rgb(207,102,26);
    display: block;
    margin-bottom: 20px;

}


footer .sitemap div ul li {
    margin-bottom: 10px;
}

footer .sitemap div ul li a {
    color: #555;
}

footer .sitemap div ul li a:hover {
    color: rgb(207,102,26);
}

footer hr {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 30px;
}

footer .footer-policy {
    width: 1280px;
    margin: 0 auto;

}

footer .footer-policy .content {
    float: left;
}

footer .footer-policy .content ul li {
    float: left;
    margin-right: 20px;
}

footer .footer-policy .content ul li a {
    color: #555;
    display: block;
    margin-bottom: 20px;
}

footer .footer-policy .content ul li a:hover {
    color: rgb(207,102,26);
}

footer .footer-policy .content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}


footer .footer-policy .sns-icon {
    float: right;
}

footer .footer-policy .sns-icon li {
    float: left;
    margin-left: 10px;
}








