@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}



.menu {

    width: 1280px;
    margin: 100px auto;
    position: relative;


}

.menu .brand {
    position: absolute;
    left: 0;
}

.menu .brand img {
    position: absolute;
    left: 0;
    bottom: 0;

}

.menu .brand h2 {

    font-size: 32px;
    font-weight: 900;
    position: relative;
    left: 30px;
}


.menu .kind {
    position: absolute;
    right: 0;
}

.menu .kind ul li {
    display: inline-block;
    padding: 0 20px;
    font-weight: 500;

}

.menu .kind ul li a:hover {
    color: cadetblue;
}

.menu .kind ul li a {
    color: #666;
}

.menu .kind ul li~li {
    border-left: 1px solid rgba(179, 177, 177, 0.5);
}

.menu .kind ul li .active {
    color: green;
}

.menu .sandwich {
    position: relative;
}

.menu .sandwich .box {
    width: 25%;
    float: left;

    margin: 100px 0;
    text-align: center;
}

.menu .sandwich a img {
    width: 100%;

}

.menu .sandwich h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.menu .sandwich p {
    font-size: 12px;
    font-weight: 500;
    color: #999;

}