@charset "utf-8";



/* 
    font

    1) merriweather 폰트(영문)
    font-family: "Merriweather", serif;
    font-weight: 300 ~ 900;

    2) nanum gothic 폰트(한글)
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400 | 700 | 800;

    컨텐츠 너비 : 1280px

    컬러
    오렌지색
    rgb(243,130,0)
    rgb(207,102,26)

    보라색 rgb(124,81,161)

    진한갈색 rgb(47,28,17)



*/


/* coffeebeanstory.css */

/* *** Bread Crumb ************************************************************** */

.breadcrumb {
    width: 100%;
    height: 20px;
    margin-top: 140px;
    background-color: #69519d;
}

.breadcrumb ul {
    width: 1280px;
    margin: 0 auto;

}

.breadcrumb ul li {
    margin-right: 20px;
    padding-right: 10px;
    position: relative;

}

.breadcrumb ul li a {
    color: #fff;
    font-size: 12px;
    font-family: "Nanum Gothic", sans-serif;
    line-height: 20px;

}

.breadcrumb ul li::after {
    content: ">";
    display: block;
    clear: both;
    color: #fff;
    font-size: 10px;

    position: absolute;
    left: 100%;
    top: 0;

    line-height: 20px;


}


.simply .banner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 40px;

}

.simply .value {
    width: 1280px;
    margin: 0 auto;
    text-align: center;

}

.simply .value .value-list {
    border-bottom: 2px solid #69519d;
    margin-bottom: 40px;
}

.simply .value .value-list li {
    width: 25%;

}

.simply .value .value-list li img {}

.simply .value .value-list li .txt-box {}

.simply .value .value-list li .txt-box h3,
.simply .value .value-list li dl dt {
    font-family: "Merriweather", serif;
    text-transform: uppercase;
    color: #69519d;
    margin-bottom: 10px;
}

.simply .value .value-list li .txt-box p,
.simply .value .value-list li dl dd {
    font-size: 14px;

}

.simply .value .value-list li dl .froth {
    font-family: "Merriweather", serif;
    font-weight: 700;

    color: #69519d;
    text-transform: uppercase;

}

.simply .value .value-list li .txt-box h3 p {}


.simply .value .value-list li::after {
    content: url(../img/bg_plus_icon.gif);
    display: block;
    float: right;

}

.simply .value .value-list li::after {}

.simply .value-des p:first-child {
    font-size: 14px;
    margin-bottom: 20px;

}

.simply .value-des p:last-child {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 70px;

    color: #cf661a;
}



.specialty .banner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.specialty .product {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.specialty .product .title {
    font-size: 24px;
    font-weight: 600;
    font-family: "Merriweather", serif;

    margin-bottom: 20px;
    color: #cf661a;
}

.specialty .product .slogan {
    font-family: "Merriweather", serif;
    color: #cf661a;

    margin-bottom: 20px;
}

.specialty .product .description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.specialty .product .img-list  {}
.specialty .product .img-list li {
    width: 32%;
    margin-right: 2%;
}

.specialty .product .img-list li:last-child {
    margin-right: 0;
}

.specialty .product .img-list li img {
    width: 100%;
}

.specialty .product .btn {
    
    background-color: #cf661a;
    display: inline-block;
    margin: 30px 0 70px 0;
    padding: 10px 30px;

    text-transform: uppercase;
    
}

.specialty .product .btn a {
    color: #fff;
    font-family: "Merriweather", serif;
}


.specialty .product .coffee .title:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #ccc;

}

.specialty .product .coffee .title:after {
    content: "-";
}

.specialty .product .coffee .img-list li {
    overflow: hidden;
}

.specialty .product .coffee .img-list li:hover img {
    transform: scale(1.3);
}

.specialty .product .coffee .img-list li img {
    transition: all 0.6s;
}

.specialty .product .tea .img-list li {
    overflow: hidden;
}

.specialty .product .tea .img-list li:hover img {
    transform: scale(1.3);
    opacity: 1;
}

.specialty .product .tea .img-list li img {
    transition: all 0.6s;
    opacity: 0.6;
}