@charset "utf-8";
/*기본 CSS 리셋*/
* {
	margin: 0;	/*기본 상하좌우 여백값 0으로 설정*/
	padding: 0;	/*기본 상하좌우 패딩값 0으로 설정*/
	box-sizing: border-box;	/* 패딩과 테두리를 포함하여 요소의 너비를 유지 */
}
li {
	list-style: none;	/* 목록 항목의 불릿을 숨김 */
}
a {
	text-decoration: none;	/* 링크의 밑줄을 제거 */
	color: inherit;	/* 링크의 글자 색상을 부모 요소로부터 상속받음 */
}
img {
	vertical-align: top;
	/* 이미지의 아래쪽 여백을 제거하고, 상단 정렬 */
	max-width: 100%;
	/* 이미지를 부모 요소의 너비에 맞춤 (이미지가 깨지지 않도록) */
}
button {
	cursor: pointer;	/* 버튼을 손가락 커서로 표시 */
}
body {
	background: #fff;	/*배경색 #fff표시-요구사항정의서*/
	color: #333;	/*글자색 #333표시-요구사항정의서*/
}
header {
	width: 1340px;
	margin: auto;
	height: 100px;
	padding-top: 20px;
	position: relative;
}
nav {
	position: absolute;
	top: 60px;
	right: 0;
	z-index: 10;
}
nav>ul {
	display: flex;
}
nav>ul>li>a {
	background: #1b3b86;
	color: #fff;
	padding: 10px 0;
	display: block;
	width: 160px;
	text-align: center;
}
nav>ul>li:hover>a {
	background: #212121;
}
.sub {
	height: 125px;
	background: #212121;
	display: none;
}
.sub a {
	background: #212121;
	display: block;
	padding: 5px;
	text-align: center;
	color: #fff;
}
.sub a:hover {
	background: #1b3b86;
}
.slide {
	height: 300px;
	position: relative;
}
.slide ul li {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.slide ul li a {
	display: block;
	height: 100%;
}
.slide ul li.s1 {
	background: url(../images/s1.jpg) no-repeat center/cover;
	display: block;
}
.slide ul li.s2 {
	background: url(../images/s2.jpg) no-repeat center/cover;
}
.slide ul li.s3 {
	background: url(../images/s3.jpg) no-repeat center/cover;
}
.slide li h2 {
	color: #1b3b86;
	font-size: 35px;
	position: absolute;
	top: 50px;
	left: 50%;
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-radius: 20px;
	transform: translate(-50%, 0);
}
.slide li h2 span {
	color: #212121;
}
.contents {
	width: 1340px;
	margin: auto;
	position: relative;
}
.go {
	height: 100px;
	background: #00d2a5;
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
}
.go ul {
	display: flex;
	color: #fff;
	height: 100%;
}
.go ul li {
	flex-grow: 1;
	text-align: center;
	background: #1b3b86;
}
.go ul li a {
	display: block;
	height: 100%;
	padding-top: 30px;
}
.go ul li:nth-child(even) {
	background: #212121;
}
.go ul li h2 {
	font-size: 18px;
}
.go ul li img {
	vertical-align: middle;
	margin-right: 10px;
}
.banner {
	height: 250px;
	background: #f4f8fb;
	padding: 20px
}
.banner a {
	display: flex;
	height: 100%;
	gap: 30px;
	align-items: center;
}
.banner .imgBox img {
	width: 300px;
	height: 160px;
	object-fit: cover;
	border-radius: 20px;
}
.banner .txtBox {
	flex-grow: 1;
}
.banner .txtBox h2 {
	color: #1b3b86;
	margin-bottom: 10px;
	font-size: 30px;
}
.banner .txtBox .date {
	margin-bottom: 5px;
	font-weight: bold;
}
.banner .arrow {
	flex-grow: 1;
	text-align: center;
}
.board {
	height: 250px;
	display: flex;
}
.board div {
	width: 50%;
	padding: 20px;
}
.board div h2 {
	background: #1b3b86;
	color: #fff;
	text-align: center;
	width: 150px;
	padding: 10px 0;
	font-size: 20px;
}
.notice ul {
	border-top: 3px solid #1b3b86;
	padding: 5px 0;
}
.notice ul li:nth-child(even) {
	background: #ccc;
}
.notice ul li a {
	display: block;
	padding: 5px;
	position: relative;
}
.notice ul li p {
	width: 260px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.notice ul li span {
	position: absolute;
	right: 5px;
	top: 5px;
}
.gall ul {
	display: flex;
	gap: 20px;
	border-top: 3px solid #1b3b86;
	padding-top: 10px;
}
.gall ul li {
	text-align: center;
	font-weight: bold;
}
.gall ul li a {
	display: block;
	height: 100%;
}
.gall ul li:hover img {
	opacity: 0.5;
}
.gall .box {
	margin-bottom: 10px;
}
.gall .box img {
	width: 200px;
	height: 100px;
	object-fit: cover;
}
footer {
	width: 1340px;
	height: 120px;
	margin: auto;
	background: #666;
	padding-left: 20px;
	padding-top: 40px;
	color: #fff;
	position: relative;
}
footer div {
	position: absolute;
	top: 30px;
	right: 20px;
}
footer .fsns {
	display: flex;
	gap: 5px
}
footer .fsns a {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	text-align: center;
	padding-top: 9px;
}
footer .fsns li:nth-child(1) a {
	background: #47b749;
}
footer .fsns li:nth-child(2) a {
	background: #3c5b9a;
}
footer .fsns li:nth-child(3) a {
	background: red;
}
footer select {
	margin-top: 10px;
}
.popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	display: none;
}
.popcon {
	position: absolute;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	text-align: center;
	padding: 20px;
	border: 2px solid #1b3b86;
	border-radius: 20px;
}
.popcon h2 {
	color: #1b3b86;
	margin-bottom: 20px;
}
.popup .text {
	margin: 20px 0;
}
.popup .close {
	text-align: right;
}
.popup .close button {
	background: #1b3b86;
	border: 0;
	padding: 10px;
	color: #fff;
}
.popup .close button:hover {
	background: #333;
}